/** 
* Style sheet for easy homework assignment
**/

body, section, h3, p, aside {
    color: #777;
    background: #fff;
}
nav, h3, .floating-footer {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
#YourName, nav, aside, .floating-footer {
    text-align: center;
}
header, li, section, img, aside, .gallery, div.gallery img {
    float: left;
}
section, .s-header, article {
    height: auto;
}
header, section {
    margin-left: 10%;
}
nav {
    margin-right: 13%;
}
body {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 1em;
    line-height: 30px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    background-image: url('../images/dust_scratches.png');
    align-content: center;
}
.header-container {
    min-width: 960px;
    max-width: 1200px;
    height: 60px;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
}
header {
    font-size: 1.5em;
    font-weight: bold;
    width: 210px;
    height: 100%;
    color: #fff;
    border-bottom: none;
    background-color: #4aaaa5;
}
#YourName {
    position: relative;
    top: 25%;
    left: 0;
    width: 100%;
}
nav {
    font-size: .85em;
    float: right;
    width: 270px;
}
ul {
    list-style: none;
}
li {
    width: 20%;
}
section {
    position: relative;
    width: 610px;
    margin-top: 35px;
    margin-right: 20px;
    margin-bottom: 12px;
    padding: 20px;
}
.s-header {
    font-size: 1.5em;
    font-weight: bold;
    color: #4aaaa5;
}
article {
    position: relative;
    display: block;
    width: 570px;
    color: #ebebeb;
    background: #fff;
}
img {
    margin-right: 3px;
}
h3 {
    font-size: 1em;
    font-weight: normal;
    line-height: normal;
    width: 100%;
    text-align: left;
}
p {
    margin: 12px 12px 0 12px;
    padding: 12px 0;
}
aside {
    font-size: 1.2em;
    float: left;
    clear: all;
    width: 270px;
    margin-top: 35px;
    margin-right: 10%;
    margin-left: 20px;
    padding: 20px 20px 20px 20px;
    color: #4aaaa5;
}
.cwm {
    margin-left: 15px;
}
.floating-footer {
    position: sticky;
    bottom: 0;
    clear: both;
    padding: 25px;
    color: white;
    border-top: 5px solid #ccc;
    background: #666;
}
/*Portfolio*/

.gallery {
    position: relative;
    display: block;
    margin: 2px;
    padding: 2px;
}
div.gallery:hover {
    border-color: #777;
}
div.gallery img {
    width: 270px;
    border: 1px solid white;
}
div.desc {
    font-weight: bold;
    position: absolute;
    bottom: 10%;
    left: 3px;
    width: 268px;
    text-align-last: center;
    background: #4aaaa5;
}
.clearfix:after {
    display: table;
    clear: both;
    content: '';
}
div.descriptionspace {
    position: sticky;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
}
.hotlinks {
    width: 500px;
}
/*Contact*/

.test label {
    font: 200px 1em;
    color: #ebebeb;
}
.test input[type=text], .test select {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin: 8px 0;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px #ddd;
}
input[type=text].icon {
    font-size: .75em;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    padding-left: 42px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: 10px 13px;
}
.test input[type=button], .test .button {
    display: inline-block;
    width: 100%;
    margin: 14px 0 8px 0;
    padding: 12px 20px;
    text-align: center;
    color: white;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    box-shadow: inset 0 1px 3px #ddd;
}
.test input[type=button]:hover, .test .button:hover {
    background-color: #45a049;
}
.test input[type=text]:focus, .test select:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
textarea.message {
    min-height: 300px;
}
#message {
    font: .75em Arial;
    font-size: 16px;
    width: 570px;
    height: 300px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px #ddd;
    overflow-wrap: 250px;
    align-content: top;
}
* {
    box-sizing: border-box;
}



@media screen and (max-width: 768px) {
    header, .s-header {
        font-size: 1em;
    }
    header, section {
        margin-left: 2%;
    }
    body {
        font-size: 2em;
        width: 768px
    }
    .header-container {
        height: 90px;
        min-width: 0px;
        max-width: 768px;
    }

    header {
        width: 275px;
    }
    nav {
        font-size: .55em;
        margin-right: -2%;
        width: 350px;
    }
    li {
        font-size: 1em;
        width: 16%;
    }

    section {
        width: 715px;
    }
    article{
        width: 695px;
        font-size: 1em;
    }
    #aboutmeimage{
        margin-left: 5px;
        width: 350px;
    } 

    h3{
        margin-left: 5px;
        width: 685px;
        font-size: .65em;
        line-height: 30px;
    }  
    aside {
        width: 715px;
        font-size: .75em;
        margin-right: 0px;
        text-align:left;
    }
    .cwm {
        text-align: left;
    }

    .floating-footer {
    font-size: .4em;
    }
    /*Portfolio*/
    div.gallery img {
        width: 325px;
        border: 1px solid white;
    }
    div.desc {
        color: white;
        font-size: .5em;
        text-align: center;
        height: 3em;
        width: 324px;
        background: #4aaaa5;
    }

    /*Contact*/
     
    .test label {
        font: 130px .7em;
    }
    input[type=text].icon, #message {
        font-size: .5em;
    }
    
    #message, .test input[type=text], .test select {
        width: 675px;
        border: none;
        border-radius: 0px;
        box-shadow: inset 0 1px 3px #ddd;
    }
}


@media screen and (max-width: 640px) {
    header, .s-header {
        font-size: 1em;
    }
    header{
        margin-left: 0%;
    }
    body {
        font-size: 2em;
        width: 640px
    }
    .header-container {
        height: 80px;
        min-width: 0px;
        max-width: 640px;
    }

    header {
        width: 640px;
        margin-right: 0px;
    }
    nav {
        font-size: .35em;
        margin-right: 0%;
        width: 640px;
        background-color: white;
        border-bottom: 2px solid grey;
    }

    li {
        font-size: 1em;
        width: 16%;
    }

    section {
        margin-left: 3%;
        width: 92%;


    }
    article{
        width: 92%;
        font-size: .9em;
    }
    #aboutmeimage{
        margin-left: 5px;
        width: 535px;
    } 

    h3{
        margin-left: 5px;
        width: 90%;
        font-size: .65em;
        line-height: 30px;
    }  
    aside {
        width: 640px;
        font-size: .75em;
        margin-right: 0px;
        text-align:left;
    }
    .cwm {
        text-align: left;
    }

    .floating-footer {
    font-size: .4em;
    }
    /*Portfolio*/
    div.gallery img {
        width: 535px;
        border: 1px solid white;
    }
    div.desc {
        color: white;
        font-size: .75em;
        text-align: center;
        height: 2em;
        width: 533px;
        background: #4aaaa5;
    }

    /*Contact*/
     
    .test label {
        font: 130px .7em;
    }
    input[type=text].icon, #message {
        font-size: .5em;
    }
    
    #message, .test input[type=text], .test select {
        width: 535px;
        border: none;
        border-radius: 0px;
        box-shadow: inset 0 1px 3px #ddd;
    }
}
